<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="mobile" class="com.ssi.Mobile" scope="prototype" >
		<property name="sim" ref="airtelSim"/>
		
	</bean>

	<bean id="ideaSim" class="com.ssi.IdeaSim" scope="prototype" >
		<property name="mno" value="1111"/>
		
	</bean>
	<bean id="airtelSim" class="com.ssi.AirtelSim" scope="prototype" >
		<property name="mno" value="3333"/>
		
	</bean>
	<bean id="jioSim" class="com.ssi.JioSim" scope="prototype" >
		<property name="mno" value="2222"/>
		
	</bean>

	


</beans>

